# More Python Essentials!

## Agenda

SWBAT:
- use string methods
- use list methods
- use dictionary methods
- build list comprehensions
- build dictionary comprehensions
- build `while` loops
- build functions

## Methods

A method is a function that belongs to an object. And in Python, most things are objects! Naturally, the methods that belong to a particular object can vary depending on the object's datatype.

### String Methods

Here are some useful methods for strings:

- ```.upper()```: converts a string to uppercase
- ```.lower()```: converts a string to lowercase
- ```.capitalize()```: makes the first letter of a string a capital

Question: What's the difference between `.capitalize()` and `.title()`?

<details>
    <summary>
    Answer here
    </summary>
    .capitalize() capitalizes the first letter of a string;<br/>
        .title() capitalizes the first letter and each letter after a space
    </details>

In [72]:
first_name = 'greg'
last_name = 'damico'

In [74]:
# .capitalize()

first_name.capitalize()

'Greg'

In [87]:
# .title()
first_name.title() + ' ' + last_name.title()

'Greg Damico'

Notice that '+' is used to concatenate strings!

In [8]:
# .join()

'oo'.join('GREG')

'GooRooEooG'

In [9]:
''.join(name[0] for name in [first_name, last_name])

'gd'

In [10]:
type('')

str

In [11]:
' < '.join(str(num) for num in range(1, 6))

'1 < 2 < 3 < 4 < 5'

#### f-Strings

f-Strings are a convenient way to bring variables into strings.

In [12]:
fav_num = 42
adj = 'greatest'
print(f"I love {fav_num}. It's the {adj}!")

I love 42. It's the greatest!

### List Methods

Here are some useful methods for lists:

- ```.append()```: adds an element to the end of a list
- ```.pop()```: removes an element from the list
- ```.extend()```: adds multiple elements to the end of a list
- ```.index()```: returns (first) place in list where argument is found
- ```.remove()```: removes element by value

Question: What's the difference between ```.remove()``` and ```del```?

<details>
    <summary>
        Answer here
    </summary>
    .remove() removes an element by value;<br/>
    del removes an element by position

In [90]:
list_1 = [1, 2, 4]

list_2 = [8, 16]

In [91]:
# Add list_2 to list_1 so that we have one big list

# Note that this alters list_1!


list_1.extend(list_2)
list_1

[1, 2, 4, 8, 16]

In [92]:
# What would this code return?

list_1.append(list_2)

In [93]:
list_1

[1, 2, 4, 8, 16, [8, 16]]

In [94]:
# Let's write a loop that will build a list of the characters of the
# string: 'supercalifragilisticexpialidocious'

word = 'supercalifragilisticexpialidocious'
char_list = []

for char in word:
    char_list.append(char)
    
print(char_list)

['s', 'u', 'p', 'e', 'r', 'c', 'a', 'l', 'i', 'f', 'r', 'a', 'g', 'i', 'l', 'i', 's', 't', 'i', 'c', 'e', 'x', 'p', 'i', 'a', 'l', 'i', 'd', 'o', 'c', 'i', 'o', 'u', 's']

In [95]:
# What does list(word) do?

list(word)

['s',
 'u',
 'p',
 'e',
 'r',
 'c',
 'a',
 'l',
 'i',
 'f',
 'r',
 'a',
 'g',
 'i',
 'l',
 'i',
 's',
 't',
 'i',
 'c',
 'e',
 'x',
 'p',
 'i',
 'a',
 'l',
 'i',
 'd',
 'o',
 'c',
 'i',
 'o',
 'u',
 's']

In [25]:
list_1.pop()

# What does this return?
# What does list_1 look like now?
## Removes and pops it out?

[8, 16]

### List Comprehension

List comprehension is a handy way of generating a new list from existing lists.

Suppose I start with a simple list.

In [26]:
primes = [2, 3, 5, 7, 11, 13, 17, 19]

What I want now to do is to build a new list that comprises doubles of primes. I can do this with list comprehension!

The syntax is: ```[ f(x) for x in [original list] ]```

In [27]:
prime_doubles = [x*2 for x in primes]
prime_triples = [x*3 for x in primes]

In [28]:
prime_doubles

[4, 6, 10, 14, 22, 26, 34, 38]

In [29]:
prime_triples

[6, 9, 15, 21, 33, 39, 51, 57]

In [30]:
print([x + 'hello' for x in word])

['shello', 'uhello', 'phello', 'ehello', 'rhello', 'chello', 'ahello', 'lhello', 'ihello', 'fhello', 'rhello', 'ahello', 'ghello', 'ihello', 'lhello', 'ihello', 'shello', 'thello', 'ihello', 'chello', 'ehello', 'xhello', 'phello', 'ihello', 'ahello', 'lhello', 'ihello', 'dhello', 'ohello', 'chello', 'ihello', 'ohello', 'uhello', 'shello']

### Dictionary Methods

Here are some useful methods for dictionaries:

- ```.keys()```: returns an array of the dictionary's keys
- ```.values()```: returns an array of the dictionary's values
- ```.items()```: returns an array of key-value tuples

In [31]:
zoo = {1: 'giraffe', 2: 'elephant', 3: 'monkey'}

In [32]:
# Use the .keys() method to print the keys of this dictionary!

# Use the .values() method to print the values of this dictionary!


for item in zoo.items():
    print(item[0])

1
2
3

In [33]:
for item in zoo.items():
    print(item[1])

giraffe
elephant
monkey

#### Dictionary Comprehension

In [35]:
{k: v + ' monkeys' for k, v in zoo.items()}

{1: 'giraffe monkeys', 2: 'elephant monkeys', 3: 'monkey monkeys'}

In [36]:
{k**2: v**2 for k, v in [(0, 1), (2, 3), (4, 5)]}

{0: 1, 4: 9, 16: 25}

## Zipping

Zipping is a way of merging two arrays into one. The result can be cast as a list or as a dict.

In [37]:
zip(primes, prime_doubles)

In [38]:
dict(zip(primes, prime_doubles))

{2: 4, 3: 6, 5: 10, 7: 14, 11: 22, 13: 26, 17: 34, 19: 38}

In [39]:
list(zip(primes, prime_doubles))

[(2, 4), (3, 6), (5, 10), (7, 14), (11, 22), (13, 26), (17, 34), (19, 38)]

In [40]:
len(primes)

8

In [41]:
len(prime_doubles)

8

In [43]:
list(zip)primes,[1]))

SyntaxError: invalid syntax (<ipython-input-43-073d2b7f40bf>, line 1)


## Built-In Functions

Many useful functions are already built into Python:

- ```print()```: print the given string or variable's value
- ```type()```: returns the datatype of the argument
- ```len()```: returns the length of an array
- ```sum()```: returns the sum of the array's values
- ```min()```: returns the smallest member of an array
- ```max()```: returns the largest member of an array

See them all [here](https://docs.python.org/3/library/functions.html).

In [44]:
# What will this return?

max(6, 9, 7)

9

## While Loops

We have already seen 'for'-loops, where you use a loop and count the iterations by the some pre-specified number. But sometimes we don't know how many times we'll need to iterate!

Suppose I want to build a program that will take in a whole number and then tell me how many times 2 divides that number evenly. So e.g. 2 divides 4 twice but 10 only once (and 1536 nine times).

A good first start is to take the input number and start dividing by 2. But when do I stop? Answer: When I reach an odd number!

In [47]:
# Let's code it!
ctr = 0
num = 1536

while num % 2 == 0:
    num /= 2 #num = num /2
    ctr += 1 #ctr = ctr + 1
    
ctr

9

### `break`

In [51]:
num = 1536
while num % 2 == 0:
    ctr += 1
    if ctr > 1000:
        break

In [52]:
ctr

1003

## Nesting

We can put loops inside of other loops and list comprehensions inside of other list comprehensions. These come in handy especially when we have arrays inside of other arrays.

In [69]:
phone_nos = [{'name': 'greg', 'nums': {'home': 1234567, 'work': 7654321}},
          {'name': 'max', 'nums': {'home': 9876543, 'work': 1010001}},
            {'name': 'erin', 'nums': {'home': 3333333, 'work': 4444444}},
            {'name': 'joél', 'nums': {'home': 2222222, 'work': 5555555}},
            {'name': 'ben', 'nums': {'home': 9999999, 'work': 8888888}}]

In [70]:
# Exercise: from the above list, make a list of dictionaries where the key
# is the person's name and the value is the person's home phone number.
[{person['name']: person['nums']['home']} for person in phone_nos]

[{'greg': 1234567},
 {'max': 9876543},
 {'erin': 3333333},
 {'joél': 2222222},
 {'ben': 9999999}]

### Nested Structures

In [55]:
customers = {
    'bill': {'purchases': {'movies': ['Terminator', 'Elf'],
                     'books': []}, 'id': 1},
            'dolph': {'purchases': {'movies': ['It Happened One Night'],
                     'books': ['The Far Side Gallery']}, 'id': 2},
            'pat': {'purchases': {'movies': [],
                   'books': ['Seinfeld and Philosophy', 'I Am a Bunny']},
                   'id': 3}
}

**Q**: How would we access 'I Am a Bunny'?
<br/>
**A**: The outermost "layer" has a name: 'customers', and that object is a dictionary:
<br/>
`customers`
<br/>
The key we are interested in is 'pat', since that's where 'I Am a Bunny' is located:
<br/>
`customers['pat']`
<br/>
The value corresponding to the key 'pat' is also a dictionary, and in this "lower-down" dictionary, the key we are interested in is 'purchases':
<br/>
`customers['pat']['purchases']`
<br/>
The value corresponding to the key 'purchases' is yet another dictionary, and here the key of interest is `books`:
<br/>
`customers['pat']['purchases']['books']`
<br/>
The value corresponding to the key 'books' is a list, and 'I Am a Bunny' is the second element in that list:
<br/>
`customers['pat']['purchases']['books'][1]`

In [56]:
customers['pat']['purchases']['books'][1]

'I Am a Bunny'

## Functions

This aspect of Python is _incredibly_ useful! Writing your own functions can save you a TON of work - by _automating_ it.

### Creating Functions

The first line will read:

'def' + _your function's name_ + '( )' + ':'

Any arguments to the function will go in the parentheses.

Let's try building a function that will automate our task of finding all the factors of 2 of a given number!

In [2]:
# Let's code it!
def two_some(num):
    ctr = 0
    while num % 2 == 0:
        num /= 2 #num = num /2
        ctr += 1 #ctr = ctr + 1
    
    return ctr

In [3]:
two_some

### Calling Functions

To _call_ a function, simply type its name, along with any necessary arguments in parentheses.

In [61]:
# Let's call it!
two_some(1536) * 5

45

### Default Argument Values

Sometimes we'll want the argument(s) of our function to have default values.

In [62]:
def cheers(person='aaron', job='data scientist', age=30):
    return f'Hooray for {person}. You\'re a {job} and you\'re {str(age)}!'

In [63]:
cheers('greg', 'scientist', 80)

"Hooray for greg. You're a scientist and you're 80!"

In [64]:
cheers('cristian', 'git enthusiast', 93)

"Hooray for cristian. You're a git enthusiast and you're 93!"

In [65]:
cheers()

"Hooray for aaron. You're a data scientist and you're 30!"

In [66]:
cheers('scientist', 'greg', 80)

"Hooray for scientist. You're a greg and you're 80!"

In [67]:
cheers(job='scientist', person='greg', age=80)

"Hooray for greg. You're a scientist and you're 80!"